@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Halant:wght@300&family=Oswald&family=Patrick+Hand&family=Righteous&family=Rubik+Mono+One&family=Staatliches&display=swap');

:root {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'comic sans ms';
}

nav {
    position: fixed;
    z-index: 10;
    width: 100%;
    background-color: rgb(255, 255, 255);
    margin: 0;
    height: 50px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0, 0, 0, 0.342);
    padding: 0;

}

.logo {
    margin: 10px 0px 10px 60px;
    padding-left: 0px;
    width: 130px;
}

nav ul {
    float: right;
}

nav ul li {

    display: inline-block;
    margin: 13px 20px;
}

nav ul li a {
    padding: 0 20px 10px 20px;
    font-size: 18px;
    color: rgb(33, 39, 73);
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav ul li a:hover {
    border-bottom: 2px solid rgba(0, 0, 0, 0.473);
    color: rgba(7, 7, 7, 0.479);
    transition: color .3s ease;
}

.btn {
    float: right;
    font-size: 25px;
    color: rgb(0, 0, 0);
    position: relative;
    top: 14px;
    margin-right: 10px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

#home {
    display: flex;
    align-items: center;
    color: rgb(17, 20, 48);
    width: 100%;
    height: 100vh;
    background-color: white;
}

.logo1 {
    margin: 0px 0px 0px 60px;
    width: 600px;
    animation: animasi1 2s ease-in-out;
}

@keyframes animasi1 {
    0% {
        opacity: 0;
    }
}

.kotak {
    width: 580px;
    margin-left: 40px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 20px;
    border: 0px dotted;
    box-shadow: 0px 0px 1px rgba(253, 253, 255, 0);
    animation: animasi 2s ease-in-out;
}

@keyframes animasi {
    0% {
        opacity: 0%;
    }
}

.kotak .hello {
    color: #16235f;
    margin-left: 6px;
    font-size: 24px;
    font-family: 'comic sans ms';
}

.kotak h1 {
    color: #16235f;
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 45px;
    letter-spacing: 2px;
}

.kotak p {
    font-size: 16px;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-left: 10px;
    text-transform: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.kotak p b {
    text-decoration: underline;
}

.kotak p i {
    text-decoration: solid;
}

.fa-brands {
    border-radius: 500px;
    margin-top: 20px;
    text-align: center;
    font-size: 27px;
    margin-right: 30px;
    margin-left: 20px;
    cursor: pointer;
}

.fa-facebook {
    color: rgb(108, 108, 255);
    transform: scale(1.2);
    transition: transform .1s ease-in-out;
}

.fa-instagram {
    transform: scale(1.2);
    color: rgb(248, 92, 92);
    transition: transform .1s ease-in-out;
}

.fa-github {
    color: #000000;
    transform: scale(1.2);
    transition: transform .1s ease-in-out;
}

.fa-whatsapp {
    color: rgb(73, 250, 73);
    transform: scale(1.2);
    transition: transform .1s ease-in-out;
}

.fa-brands:hover {
    transform: scale(1.1);
    transition: all .1s ease-in-out;
}

.tombol {
    margin-top: 20px;
    width: 300px;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0);
    font-size: 15px;
    font-family: 'arial';
    cursor: pointer;
    font-weight: 800;
    color: rgb(250, 250, 250);
    border-radius: 10px;
    background-color: rgb(0, 86, 184);
}

.tombol:hover {
    box-shadow: 0px 0px 20px rgb(134, 156, 255);
}

#about {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: auto;
    display: inline;
}

.kotak1 {
    float: left;
    margin: 80px 0px 0px 100px;
    width: 500px;
    background-color: rgb(255, 255, 255);
}

.kotak1 h1 {
    color: rgb(24, 29, 88);
    text-decoration: underline;
    font-size: 55px
}

.kotak1 p {
    margin-top: 10px;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 20px;
}

.kotak1 p b {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
}

#about img {
    padding: 0px;
    width: 650px;
}

#skill {
    margin-top: 190px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: auto;
}

#skill h1 {
    padding-top: 50px;
    font-size: 45px;
    color: #16235f;
    text-align: center;
    text-decoration: underline;
}

#skill h2 {
    text-align: center;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 20px;
    color: #19153b;
}

#skill p {
    text-align: center;
}

.kotak2 {
    display: flex;
    background-color: #555458;
    margin: 10px 200px 0px 200px;
    width: auto;
    align-items: center;
    border-radius: 30px;
    border: 1px solid;
    height: 60px;
}

.kotak2 .garis1 {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    width: 850px;
    padding: 6px;
    margin-left: 20px;
    height: 20px;
    background-color: rgb(0, 132, 248);
}

.kotak3 {
    display: flex;
    background-color: #555458;
    margin: 10px 200px 0px 200px;
    width: auto;
    align-items: center;
    border-radius: 30px;
    border: 1px solid;
    height: 60px;
}

.kotak3 .garis2 {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    width: 760px;
    padding: 6px;
    margin-left: 20px;
    height: 20px;
    background-color: rgb(0, 132, 248);
}

.kotak4 {
    display: flex;
    background-color: #555458;
    margin: 10px 200px 0px 200px;
    width: auto;
    align-items: center;
    border-radius: 30px;
    border: 1px solid;
    height: 60px;
}

.kotak4 .garis3 {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    width: 260px;
    padding: 6px;
    margin-left: 20px;
    height: 20px;
    background-color: rgb(0, 132, 248);
}

#contack {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contack h1 {
    font-size: 50px;
    color: #16235f;
    text-decoration: underline;
    margin: 0px 0px 0px 0px;
}

.kotak5 {
    width: 700px;
    text-align: center;
    margin-top: 100px;
}

.kotak5 p {
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.kotak5 .ipt {
    width: 300px;
    height: 40px;
    margin: 0px 100px 0px 100px;
    border: 1px solid black;
    border-radius: 10px;
    padding-left: 20px;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    color: #16235f;
}

.kotak5 h2 {
    padding: 20px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 200;
}

.kotak5 .msg {
    border: 1px solid black;
    border-radius: 20px;
    width: 500px;
    margin: 0px 20px 0px 00px;
    height: 100px;
    padding: 20px;
}

.kotak5 button {
    width: 200px;
    height: 50px;
    border: none;
    color: white;
    background-color: rgb(137, 137, 255);
    border-radius: 20px;
    margin: 20px 20px 0px 20px;
    cursor: pointer;
}

.copy {
    border-top: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    width: 100%;
    height: 100px;
    background-color: #acacac;
}
.copy .kotak6 h1 {
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 200;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.copy .kotak6 h1 b {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
}
@media (max-width: 950px) {
    nav {
        position: fixed;
        z-index: 10;
    }

    .logo {
        width: 130px;
        top: 10px;
        margin: 0 10px;
        padding: 0;
        position: relative;

    }

    .menu {
        display: block;
    }

    ul {
        position: absolute;
        width: 100%;
        font-size: 30px;
        top: 50px;
        margin: 0px;
        height: 100vh;
        z-index: 1;
        right: -100%;
        text-align: center;
        background: rgba(255, 255, 255, 0);
        backdrop-filter: blur(10px);
        transition: 0.5s ease-in-out;
    }

    li {
        background-color: rgba(255, 255, 255, 0.37);
        height: 50px;
        padding: 0 100px;
        text-align: center;

    }

    .btn {
        display: block;
    }

    #check:checked~ul {
        right: 0;

    }

    #home {
        padding-top: 20px;
        display: inline-block;
        align-items: normal;
    }

    .kotak {
        text-align: center;
        padding: 0px;
        margin: 0;
        width: auto;
    }

    .kotak h2 {
        font-size: 15px;
    }

    .kotak h1 {
        font-size: 20px;
    }

    .kotak p {
        margin: 5px 20px 0px 20px;
        font-size: 13px;
    }

    .fa-brands {
        margin: 12px 15px 0px 15px;
        font-size: 20px;
        padding: 0;
    }

    .tombol {
        margin-top: 10px;
        width: 250px;
    }

    .nya {
        display: flex;
        justify-content: center;
        margin-top: 120px;
    }

    .logo1 {
        margin: auto;
        width: 330px;
        height: auto;
    }

    #about {
        margin: 0;
        padding: 0;
    }

    .kotak1 {
        padding-top: 50px;
        width: auto;
        margin: 0px 20px 0px 20px;
    }

    .kotak1 h1 {
        text-align: center;
        font-size: 40px;
    }

    .kotak1 p {
        text-align: center;
        font-size: 16px;
    }

    #about img {
        width: 390px;
        margin: 0px 0px 0px 0px;
        height: auto;
    }

    #skill h1 {
        font-size: 37px;
        padding-top: 50px;
    }

    #skill h2 {
        font-size: 25px;
    }

    #skill p {
        font-size: 15px;
    }

    .kotak2 {
        margin: 10px 20px 0px 20px;
        width: auto;
        height: 35px;
    }

    .kotak2 .garis1 {
        width: 280px;
        height: 10px;
    }

    .kotak3 {
        margin: 10px 20px 0px 20px;
        width: auto;
        height: 35px;
    }

    .kotak3 .garis2 {
        width: 250px;
        height: 10px;
    }

    .kotak4 {
        margin: 10px 20px 0px 20px;
        width: auto;
        height: 35px;
    }

    .kotak4 .garis3 {
        width: 140px;
        height: 10px;
    }
    #contack h1 {
        font-size: 40px;
    }
    #contack p {
        font-size: 20px;
    }
    .kotak5 .ipt {
        margin: 0px;
    }
    #contack .msg {
        width: 300px;
        margin: 0px 20px 0px 20px;
    }
    .copy .kotak6 h1 {
        font-size: 15px;    
    }
}